!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="https://code.jquery.com/jquery.js")
    //- We put jQuery up here so that highcharts can access jQuery.
  body
    header
      h1
        a(href='/' ) #{title}
    case page
      when 'pool'
        include pool.jade
      when 'profile'
        include profile.jade
      default
        p 404 Page not found O.o
    include ./footer.jade